.banner {
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.container h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
}

.banner .container p {
  color: white;
  opacity: 0.6;
  margin-bottom: 30px;
  margin-top: 0px;
}

